/*-------------------
Style Sheet for {Project name and url}

author: {name}
email: {email}
website: {portfolio}
---------------------*/

/*
	Vendor imports (libs etc)
*/
@import 'vendor/normalize.css';
@import 'vendor/browserupgrade.css';

/*
	Our imports
*/
@import 'lib/nav.css';